@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme inline {
  --font-tweet: var(--font-geist);
}
.dark {
  --background: var(--color-neutral-900);
  --foreground: var(--color-neutral-50);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-unbounded), Arial, Helvetica, sans-serif;
}
