@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-tweet: var(--font-geist);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-unbounded), Arial, Helvetica, sans-serif;
}
